@model Milestones.Models.LocalPasswordModel

<div class="ChangePassword">
    <h2>Change your Password</h2><hr />
@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new {@class="form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="ChangePassword">
               
            <div class="control-group">
                <label class="control-label">Old Password </label>
               <div class="controls"> @Html.PasswordFor(m => m.OldPassword)</div>
               
            </div>
            <div class="control-group">
                <label class="control-label">New Password</label>
                <div class="controls" > @Html.PasswordFor(m => m.NewPassword)</div>             
            </div>
            <div class="control-group">
                <label class="control-label">  Confirm Password</label>
               <div class="controls" >@Html.PasswordFor(m => m.ConfirmPassword)</div>
             
            </div>       
       
    </div>
    <hr />
     <p style="text-align: center">
            <input type="submit" class="btn btn-success" value="change password" />
            <a href="~/" class="btn">Cancel</a>
        </p>
}
</div>