@model Milestones.Models.LocalPasswordModel



@using (Html.BeginForm("Manage", "Account"))
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="register">
        <br />
        <br />
        <h2>Set Local password</h2>
        <hr />
        <p style="font-size: 10pt;">
            <strong>You do not have a local password for this site. Add a local
            password so you can log in without an external login.
            </strong>
        </p><br />
        @*  <fieldset>
        <legend>Set Password Form</legend>
        <ol>*@
        <p>
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
        </p>
        <p>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
        </p>
        @*</ol>*@
        <input type="submit" class="btn btn-success" value="Set password" />
        @*  </fieldset>*@
    </div>
    
}
